<section>
  <form
    fxLayout="column"
    fxLayoutGap="5px"
    fxLayoutAlign="center center"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Email"
        required
      />
      <mat-error *ngIf="loginForm.get('email').hasError('required')"
        >Field must not be empty</mat-error
      >
      <mat-error *ngIf="!loginForm.get('email').hasError('required')"
        >E-mail is invalid</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        ngModel
        formControlName="password"
        placeholder="Password"
        required
      />
      <mat-error *ngIf="!loginForm.get('password').hasError('required')"
        >Password is incorrect</mat-error
      >
      <mat-error *ngIf="loginForm.get('password').hasError('required')"
        >Please enter your password</mat-error
      >
    </mat-form-field>
    <button *ngIf="!isLoading" mat-raised-button color="primary">Submit</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
